<tr><span class="mx-5 bg-success"><i class="pi pi-file-export"></i></span> İndirildi</tr>
<tr><span></span>Hatalı Token</tr>
<tr><span></span>23/06 İndirildi</tr>
<tr><span></span>Dosya Veritabanından Çekildi</tr>
<tr><span></span>Veritabanına Kayıt Edildi</tr>
<tr><span class="mx-5 bg-success"><i class="pi pi-file-export"></i></span> İndirildi</tr>
<tr><span></span>Hatalı Token</tr>
<tr><span></span>23/06 İndirildi</tr>
<tr><span></span>Dosya Veritabanından Çekildi</tr>
<tr><span></span>Veritabanına Kayıt Edildi</tr>
<tr><span class="mx-5 bg-success"><i class="pi pi-file-export"></i></span> İndirildi</tr>
<tr><span></span>Hatalı Token</tr>
<tr><span></span>23/06 İndirildi</tr>
<tr><span></span>Dosya Veritabanından Çekildi</tr>
<tr><span></span>Veritabanına Kayıt Edildi</tr>
<tr><span class="mx-5 bg-success"><i class="pi pi-file-export"></i></span> İndirildi</tr>
<tr><span></span>Hatalı Token</tr>
<tr><span></span>23/06 İndirildi</tr>
<tr><span></span>Dosya Veritabanından Çekildi</tr>
<tr><span></span>Veritabanına Kayıt Edildi</tr>